p{margin-top: 50px}
button:hover{transform: scale(1.5);}
#scoreboard{height: 200px;
width: 200px;
border: black solid 2px;
text-align: center;
border-radius: 50px; 
margin-right: 15px;
background-color: white;

}
#bigblock{width: 500px;
box-shadow: 7px 8px 5px gray;
background-image: linear-gradient( yellow,red);
height: 800px;
margin: auto;
border-radius: 50px;}
.colorbox{width: 80%;
height: 70px;

background-color: rgba(158, 35, 35, 0.3);
margin-left: 50px;
margin-right: auto;
display: inline-block;
border-radius: 15px;
margin-top: 2px;
border: black solid 2px;

}
#lastbox{margin-top:30px}
#mastercolor{
margin-top: 40px;
margin-bottom: 30px;
padding-top: 10px;}
.color{height: 60px;
width: 80px;
display: inline-block;
margin-right: auto;
margin-left: 13px;
border-radius: 50%;
margin-top: 5px;
border: black solid 1px;
background-color: white;
}
#buttonbox{margin-left: auto;
margin-right: auto;
display: block;
width: 255px;
margin-bottom: 20px;}
.buttons{border-radius: 50%;
height: 60px;
width: 60px;
border: none;
float: left;
}
h1{float: right;
margin-bottom: 10px;}
.buttons:active{border: black solid 2px;}
#red:hover{background-color: rgb(200, 0, 0);
box-shadow: 2px 2px 2px gray;
transform: scale(1.1);}
#yellow:hover{background-color: rgb(200, 200, 0);
box-shadow: 2px 2px 2px gray;
transform: scale(1.1);}
#green:hover{background-color: rgb(0, 199, 0);
box-shadow: 2px 2px 2px gray;
transform: scale(1.1);}
#blue:hover{background-color: rgb(0, 0, 179);
box-shadow: 2px 2px 2px gray;
transform: scale(1.1);}
#red{background-color: red;
}
#yellow{background-color: yellow;}
#green{background-color: rgb(0, 255, 0);}
#blue{background-color: blue;}
#flexy{display: flex;}